*.o
*.out
*.bin
*.swp
*.ods
*.ods#
*.txt

# Ignore untracked assets and inputs by default; force-add if desired
*.png
*.bmp
*.xcf
*.dat

# *Don't* ignore CMake files
!CMakeLists.txt

# Misc.
*.vscode/
bin/
build/
obj/
zig-*/
